<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyue.tms.mapper.OrderMapper">
    
    <resultMap type="Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="allPrice"    column="all_price"    />
        <result property="allPayPrice"    column="all_pay_price"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="bookingPickupTime"    column="booking_pickup_time"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="userPhone"    column="user_phone"    />
        <result property="sendUserId"    column="send_user_id"    />
        <result property="sendCompanyId"    column="send_company_id"    />
        <result property="sendCompanyName"    column="send_company_name"    />
        <result property="sendAddress"    column="send_address"    />
        <result property="customerCompanyId"    column="customer_company_id"    />
        <result property="customerUserId"    column="customer_user_id"    />
        <result property="customerUserName"    column="customer_user_name"    />
        <result property="customerCompanyName"    column="customer_company_name"    />
        <result property="customerAddress"    column="customer_address"    />
        <result property="driverId"    column="driver_id"    />
        <result property="driverPhone"    column="driver_phone"    />
        <result property="driverName"    column="driver_name"    />
        <result property="vanId"    column="van_id"    />
        <result property="vanNumber"    column="van_number"    />
        <result property="paymentId"    column="payment_id"    />
        <result property="paymentState"    column="payment_state"    />
        <result property="paymentClass"    column="payment_class"    />
        <result property="paymentTime"    column="payment_time"    />
        <result property="wmsPrice"    column="wms_price"    />
        <result property="wmsCost"    column="wms_cost"    />
        <result property="wmsType"    column="wms_type"    />
        <result property="tmsPrice"    column="tms_price"    />
        <result property="tmsCost"    column="tms_cost"    />
        <result property="tmsType"    column="tms_type"    />
        <result property="remark"    column="remark"    />
        <result property="qrcode"    column="qrcode"    />
    </resultMap>

    <resultMap id="OrderOrderDetailResult" type="Order" extends="OrderResult">
        <collection property="orderDetailList" notNullColumn="sub_id" javaType="java.util.List" resultMap="OrderDetailResult" />
    </resultMap>

    <resultMap type="OrderDetail" id="OrderDetailResult">
        <result property="id"    column="sub_id"    />
        <result property="userOrderId"    column="sub_user_order_id"    />
        <result property="tmsOrderId"    column="sub_tms_order_id"    />
        <result property="materialId"    column="sub_material_id"    />
        <result property="materialName"    column="sub_material_name"    />
        <result property="yangcaiCode"    column="sub_yangcai_code"    />
        <result property="code69"    column="sub_code_69"    />
        <result property="productName"    column="sub_product_name"    />
        <result property="specs"    column="sub_specs"    />
        <result property="manufacturer"    column="sub_manufacturer"    />
        <result property="number"    column="sub_number"    />
        <result property="unit"    column="sub_unit"    />
        <result property="unitPrice"    column="sub_unit_price"    />
        <result property="batchNumber"    column="sub_batch_number"    />
        <result property="manufactureDate"    column="sub_manufacture_date"    />
        <result property="validityDate"    column="sub_validity_date"    />
        <result property="packagesNumber"    column="sub_packages_number"    />
        <result property="registCertificateNo"    column="sub_regist_certificate_no"    />
        <result property="transportType"    column="sub_transport_type"    />
        <result property="boxNumber"    column="sub_box_number"    />
        <result property="storageType"    column="sub_storage_type"    />
        <result property="materialClassName"    column="sub_material_class_name"    />
        <result property="qualityFiles"    column="sub_quality_files"    />
        <result property="tmsOrderDetailId"    column="sub_tms_order_detail_id"    />
        <result property="tmsState"    column="sub_tms_state"    />
        <result property="remark"    column="sub_remark"    />
        <result property="qrcode"    column="sub_qrcode"    />
    </resultMap>

    <sql id="selectOrderVo">
        select id, code, type, status, all_price, all_pay_price, update_by, create_time, update_time, booking_pickup_time, user_id, user_name, user_phone, send_user_id, send_company_id, send_company_name, send_address, customer_company_id, customer_user_id, customer_company_name, customer_address, driver_id, driver_phone, driver_name, van_id, van_number, payment_id, payment_state, payment_class, payment_time, wms_price, wms_cost, wms_type, tms_price, tms_cost, tms_type, remark, qrcode from user_order
    </sql>

    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        select a.id, a.code, a.type, a.status, a.all_price, a.all_pay_price, a.update_by, a.create_time, a.update_time, a.booking_pickup_time, a.user_id, a.user_name, a.user_phone, a.send_user_id, a.send_company_id, a.send_company_name, a.send_address, a.customer_company_id, a.customer_user_id,b.qms_company_legalperson_user_id as customer_user_name, a.customer_company_name, a.customer_address, a.driver_id, a.driver_phone, a.driver_name, a.van_id, a.van_number, a.payment_id, a.payment_state, a.payment_class, a.payment_time, a.wms_price, a.wms_cost, a.wms_type, a.tms_price, a.tms_cost, a.tms_type, a.remark, a.qrcode
        from user_order a,qms_company b
        <where>
            a.customer_company_name = b.qms_company_name
            <if test="code != null  and code != ''"> and a.code = #{code}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
            <if test="bookingPickupTime != null "> and a.booking_pickup_time = #{bookingPickupTime}</if>
            <if test="paymentClass != null  and paymentClass != ''"> and a.payment_class = #{paymentClass}</if>
            <if test="tmsType != null  and tmsType != ''"> and a.tms_type = #{tmsType}</if>
            <if test="remark != null">and a.remark = #{remark}</if>
        </where>
    </select>


    <select id="selectOrderById" parameterType="Long" resultMap="OrderOrderDetailResult">
        select a.id, a.code, a.type, a.status, a.all_price, a.all_pay_price, a.update_by, a.create_time, a.update_time, a.booking_pickup_time, a.user_id, a.user_name, a.user_phone, a.send_user_id, a.send_company_id, a.send_company_name, a.send_address, a.customer_company_id, a.customer_user_id, a.customer_company_name, a.customer_address, a.driver_id, a.driver_phone, a.driver_name, a.van_id, a.van_number, a.payment_id, a.payment_state, a.payment_class, a.payment_time, a.wms_price, a.wms_cost, a.wms_type, a.tms_price, a.tms_cost, a.tms_type, a.remark, a.qrcode,
            b.id as sub_id, b.user_order_id as sub_user_order_id, b.tms_order_id as sub_tms_order_id, b.material_id as sub_material_id, b.material_name as sub_material_name, b.yangcai_code as sub_yangcai_code, b.code_69 as sub_code_69, b.product_name as sub_product_name, b.specs as sub_specs, b.manufacturer as sub_manufacturer, b.number as sub_number, b.unit as sub_unit, b.unit_price as sub_unit_price, b.batch_number as sub_batch_number, b.manufacture_date as sub_manufacture_date, b.validity_date as sub_validity_date, b.packages_number as sub_packages_number, b.regist_certificate_no as sub_regist_certificate_no, b.transport_type as sub_transport_type, b.box_number as sub_box_number, b.storage_type as sub_storage_type, b.material_class_name as sub_material_class_name, b.quality_files as sub_quality_files, b.tms_order_detail_id as sub_tms_order_detail_id, b.tms_state as sub_tms_state, b.remark as sub_remark, b.qrcode as sub_qrcode
        from user_order a
        left join user_order_detail b on b.user_order_id = a.id
        where a.id = #{id}
    </select>
        
    <insert id="insertOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into user_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
            <if test="allPrice != null">all_price,</if>
            <if test="allPayPrice != null">all_pay_price,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="bookingPickupTime != null">booking_pickup_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="userPhone != null">user_phone,</if>
            <if test="sendUserId != null">send_user_id,</if>
            <if test="sendCompanyId != null">send_company_id,</if>
            <if test="sendCompanyName != null">send_company_name,</if>
            <if test="sendAddress != null">send_address,</if>
            <if test="customerCompanyId != null">customer_company_id,</if>
            <if test="customerUserId != null">customer_user_id,</if>
            <if test="customerCompanyName != null">customer_company_name,</if>
            <if test="customerAddress != null">customer_address,</if>
            <if test="driverId != null">driver_id,</if>
            <if test="driverPhone != null">driver_phone,</if>
            <if test="driverName != null">driver_name,</if>
            <if test="vanId != null">van_id,</if>
            <if test="vanNumber != null">van_number,</if>
            <if test="paymentId != null">payment_id,</if>
            <if test="paymentState != null">payment_state,</if>
            <if test="paymentClass != null">payment_class,</if>
            <if test="paymentTime != null">payment_time,</if>
            <if test="wmsPrice != null">wms_price,</if>
            <if test="wmsCost != null">wms_cost,</if>
            <if test="wmsType != null">wms_type,</if>
            <if test="tmsPrice != null">tms_price,</if>
            <if test="tmsCost != null">tms_cost,</if>
            <if test="tmsType != null">tms_type,</if>
            <if test="remark != null">remark,</if>
            <if test="qrcode != null">qrcode,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="allPrice != null">#{allPrice},</if>
            <if test="allPayPrice != null">#{allPayPrice},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="bookingPickupTime != null">#{bookingPickupTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="userPhone != null">#{userPhone},</if>
            <if test="sendUserId != null">#{sendUserId},</if>
            <if test="sendCompanyId != null">#{sendCompanyId},</if>
            <if test="sendCompanyName != null">#{sendCompanyName},</if>
            <if test="sendAddress != null">#{sendAddress},</if>
            <if test="customerCompanyId != null">#{customerCompanyId},</if>
            <if test="customerUserId != null">#{customerUserId},</if>
            <if test="customerCompanyName != null">#{customerCompanyName},</if>
            <if test="customerAddress != null">#{customerAddress},</if>
            <if test="driverId != null">#{driverId},</if>
            <if test="driverPhone != null">#{driverPhone},</if>
            <if test="driverName != null">#{driverName},</if>
            <if test="vanId != null">#{vanId},</if>
            <if test="vanNumber != null">#{vanNumber},</if>
            <if test="paymentId != null">#{paymentId},</if>
            <if test="paymentState != null">#{paymentState},</if>
            <if test="paymentClass != null">#{paymentClass},</if>
            <if test="paymentTime != null">#{paymentTime},</if>
            <if test="wmsPrice != null">#{wmsPrice},</if>
            <if test="wmsCost != null">#{wmsCost},</if>
            <if test="wmsType != null">#{wmsType},</if>
            <if test="tmsPrice != null">#{tmsPrice},</if>
            <if test="tmsCost != null">#{tmsCost},</if>
            <if test="tmsType != null">#{tmsType},</if>
            <if test="remark != null">#{remark},</if>
            <if test="qrcode != null">#{qrcode},</if>
         </trim>
    </insert>

    <update id="updateOrder" parameterType="Order">
        update user_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="allPrice != null">all_price = #{allPrice},</if>
            <if test="allPayPrice != null">all_pay_price = #{allPayPrice},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="bookingPickupTime != null">booking_pickup_time = #{bookingPickupTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="userPhone != null">user_phone = #{userPhone},</if>
            <if test="sendUserId != null">send_user_id = #{sendUserId},</if>
            <if test="sendCompanyId != null">send_company_id = #{sendCompanyId},</if>
            <if test="sendCompanyName != null">send_company_name = #{sendCompanyName},</if>
            <if test="sendAddress != null">send_address = #{sendAddress},</if>
            <if test="customerCompanyId != null">customer_company_id = #{customerCompanyId},</if>
            <if test="customerUserId != null">customer_user_id = #{customerUserId},</if>
            <if test="customerCompanyName != null">customer_company_name = #{customerCompanyName},</if>
            <if test="customerAddress != null">customer_address = #{customerAddress},</if>
            <if test="driverId != null">driver_id = #{driverId},</if>
            <if test="driverPhone != null">driver_phone = #{driverPhone},</if>
            <if test="driverName != null">driver_name = #{driverName},</if>
            <if test="vanId != null">van_id = #{vanId},</if>
            <if test="vanNumber != null">van_number = #{vanNumber},</if>
            <if test="paymentId != null">payment_id = #{paymentId},</if>
            <if test="paymentState != null">payment_state = #{paymentState},</if>
            <if test="paymentClass != null">payment_class = #{paymentClass},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="wmsPrice != null">wms_price = #{wmsPrice},</if>
            <if test="wmsCost != null">wms_cost = #{wmsCost},</if>
            <if test="wmsType != null">wms_type = #{wmsType},</if>
            <if test="tmsPrice != null">tms_price = #{tmsPrice},</if>
            <if test="tmsCost != null">tms_cost = #{tmsCost},</if>
            <if test="tmsType != null">tms_type = #{tmsType},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="qrcode != null">qrcode = #{qrcode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderById" parameterType="Long">
        delete from user_order where id = #{id}
    </delete>

    <delete id="deleteOrderByIds" parameterType="String">
        delete from user_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteOrderDetailByUserOrderIds" parameterType="String">
        delete from user_order_detail where user_order_id in 
        <foreach item="userOrderId" collection="array" open="(" separator="," close=")">
            #{userOrderId}
        </foreach>
    </delete>

    <delete id="deleteOrderDetailByUserOrderId" parameterType="Long">
        delete from user_order_detail where user_order_id = #{userOrderId}
    </delete>

    <insert id="batchOrderDetail">
        insert into user_order_detail( id, user_order_id, tms_order_id, material_id, material_name, yangcai_code, code_69, product_name, specs, manufacturer, number, unit, unit_price, batch_number, manufacture_date, validity_date, packages_number, regist_certificate_no, transport_type, box_number, storage_type, material_class_name, quality_files, tms_order_detail_id, tms_state, remark, qrcode) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.userOrderId}, #{item.tmsOrderId}, #{item.materialId}, #{item.materialName}, #{item.yangcaiCode}, #{item.code69}, #{item.productName}, #{item.specs}, #{item.manufacturer}, #{item.number}, #{item.unit}, #{item.unitPrice}, #{item.batchNumber}, #{item.manufactureDate}, #{item.validityDate}, #{item.packagesNumber}, #{item.registCertificateNo}, #{item.transportType}, #{item.boxNumber}, #{item.storageType}, #{item.materialClassName}, #{item.qualityFiles}, #{item.tmsOrderDetailId}, #{item.tmsState}, #{item.remark}, #{item.qrcode})
        </foreach>
    </insert>
</mapper>