<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heyue.wms.mapper.StockMapper">
    
    <resultMap type="Stock" id="StockResult">
        <result property="id"    column="id"    />
        <result property="materialId"    column="material_id"    />
        <result property="batchNumber"    column="batch_number"    />
        <result property="specifications"    column="specifications"    />
        <result property="manufactureDate"    column="manufacture_date"    />
        <result property="userId"    column="user_id"    />
        <result property="unit"    column="unit"    />
        <result property="number"    column="number"    />
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="areaId"    column="area_id"    />
        <result property="shelvesId"    column="shelves_id"    />
        <result property="locationId"    column="location_id"    />
    </resultMap>

    <sql id="selectStockVo">
        select id, material_id, batch_number, specifications, manufacture_date, user_id, unit, number, warehouse_id, area_id, shelves_id, location_id from wms_stock
    </sql>

    <select id="selectStockList" parameterType="Stock" resultMap="StockResult">
        <include refid="selectStockVo"/>
        <where>  
            <if test="materialId != null "> and material_id = #{materialId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="warehouseId != null "> and warehouse_id = #{warehouseId}</if>
        </where>
    </select>
    
    <select id="selectStockById" parameterType="Long" resultMap="StockResult">
        <include refid="selectStockVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStock" parameterType="Stock" useGeneratedKeys="true" keyProperty="id">
        insert into wms_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="materialId != null">material_id,</if>
            <if test="batchNumber != null">batch_number,</if>
            <if test="specifications != null">specifications,</if>
            <if test="manufactureDate != null">manufacture_date,</if>
            <if test="userId != null">user_id,</if>
            <if test="unit != null">unit,</if>
            <if test="number != null">number,</if>
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="areaId != null">area_id,</if>
            <if test="shelvesId != null">shelves_id,</if>
            <if test="locationId != null">location_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="materialId != null">#{materialId},</if>
            <if test="batchNumber != null">#{batchNumber},</if>
            <if test="specifications != null">#{specifications},</if>
            <if test="manufactureDate != null">#{manufactureDate},</if>
            <if test="userId != null">#{userId},</if>
            <if test="unit != null">#{unit},</if>
            <if test="number != null">#{number},</if>
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="shelvesId != null">#{shelvesId},</if>
            <if test="locationId != null">#{locationId},</if>
         </trim>
    </insert>

    <update id="updateStock" parameterType="Stock">
        update wms_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="batchNumber != null">batch_number = #{batchNumber},</if>
            <if test="specifications != null">specifications = #{specifications},</if>
            <if test="manufactureDate != null">manufacture_date = #{manufactureDate},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="number != null">number = #{number},</if>
            <if test="warehouseId != null">warehouse_id = #{warehouseId},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="shelvesId != null">shelves_id = #{shelvesId},</if>
            <if test="locationId != null">location_id = #{locationId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockById" parameterType="Long">
        delete from wms_stock where id = #{id}
    </delete>

    <delete id="deleteStockByIds" parameterType="String">
        delete from wms_stock where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>